* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
  font-family: "Poppins";
  font-weight: 400;
  background-color: #13171c;
}
.menu-hamburguesa {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  gap: 5px;
}
.menu-hamburguesa__barritas {
  height: 5px;
  width: 30px;
  background-color: #eeeeee;
}

.logo {
  width: 55px;
}
.menu-desktop {
  display: none;
}

@media (min-width: 680px) {
  .menu-hamburguesa {
    display: none;
  }
  .menu-desktop {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
  .menu-desktop__opciones {
    text-decoration: none;
    color: #eeeeee;
  }
}

.menu-oculto__contenedor {
  display: none;
  /*display: flex;*/
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0);
  color: #eeeeee;
  font-family: "Poppins";
  border: inset 8px #c23dd4;
}

.menu-oculto__contenedor-de-boton {
  text-align: end;
  padding: 1.5rem;
}

.menu-oculto__boton-cerrar {
  border: none;
  color: #eeeeee;
  font-family: "Poppins";
  font-weight: 100;
  font-size: 40px;
  background-color: black;
  margin: 0px;
  transform: rotate(45deg);
}

.menu-oculto__contenedor-de-opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  height: 100%;
}

.menu-oculto__opciones {
  text-decoration: none;
  font-size: 2rem;
  color: #eeeeee;
}

@media (min-width: 680px) {
  .menu-oculto__contenedor {
    display: none;
  }
}
